{% extends 'base.html' %}

{% block content %}
<h1>Bienvenido a Catequesis de Las Tablas.
  </h1>
  <h2>Este es el paso 2 de 3. Asegúrese de terminar el paso anterior antes de acceder a esta aplicación</h2>
  <h2>Este paso le permite elegir un turno, pero no formaliza la matrícula</h2>
  
  <ul>
    <li> Debería haber rellenado sus datos en un formulario web primero para estar identificado.
    <li> Dé de alta su usuario. Para ello acceda a través de Entrar --> Darse de alta y rellene sus datos. Tendrá que volver a introducir algunos de sus datos para que podamos localizarlo</li>
    <li> Asegúrese de introducir un correo electrónico correcto. Recibirá las instrucciones para continuar en su correo.</li>
    <li> Añada a sus hijos como catecúmenos. Sólo el tutor del niño puede añadir los datos a la aplicación. Asegúrese de haber terminado el paso 1 en el formulario (antes de usar esta aplicación)</li>
    <li> Seleccione al niño y elija uno de los turnos disponibles. Recibirá un correo de confirmación (verifique que no está en SPAM)
    <li> Si ve un turno asignado no hace falta que haga nada más. El niño ya tiene un turno asignado.</li>
  </ul>
  
  <h4><b>
    Todavía necesita formalizar la inscripción. Esté atento a los avisos de la parroquia, tendrá que acercarse a la misma para la formalización del 10 al 14 de Septiembre.
  </b></h4>

  <h4>Los datos utilizados en esta aplicación serán eliminados al terminar el proceso. Sólo se utilizan para identificar el turno y ayudar en la formalización de la matrícula</h4>

{% endblock %}