{% extends 'base.html' %}

{% block content %}

{% regroup schedules by room as room_list %}

<h1><b>Horarios</b></h1>

{% if user.is_authenticated %}
  <h2> Para asignar un horario a un catecúmeno visite <a href="{% url 'offsprings:index' %}">Catecúmenos</a></h2>
{% endif %}

{% for room in room_list %}
  <div class="col-xs-12">
    <div class="panel panel-success">
      <div class="panel-heading">
        <div class="panel-title">
          <strong> Room: {{ room.grouper }} </strong>
        </div>
      </div>
    </div>
  </div> 
  <div class="container-fluid">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                {% for day in used_days_of_week %}
                  <th>
                      {{ day.display_name }}
                  </th>
                {% endfor %}
            </tr>
          </thead>
          <tbody>
              {% for start_time in used_starting_times %} 
              <tr>
                  {% for day in used_days_of_week %}
                  <td>
                    {% for schedule in room.list %}
                      
                      {% if schedule.day_of_week == day.day_of_week and schedule.start_time == start_time.start_time %}
                          {{ schedule }}
                      {% endif %}
                    
                    {% endfor %}
                  </td>
                  {% endfor %} 

              </tr>
              {% endfor %}   
            </tbody>
    </table>
    </div>
{% endfor %}

{% endblock %}